body{
	background: #fff !important;
}
#con{
	width: 100%;
	background: #000;
	height: 160px;
}
.con{
	text-align: center;
}
.con input{
	width: 90%;
	background: gray;
}
ul.gong{
	background: #000 !important;
}
ul.gong,ul.gong li{
	/* background: #fff !important; */
	border: 0px !important;	
}
.ico{
	color: #fff;
	font-size: 40px !important;
}


#bor{
	color: #fff ;
	font-size: 16px;
	/* font-weight: 600; */
	font-family: sans-serif;
	text-align: center;
}
#shuju{
	background: #fff;
	border: 0px;
}
#shuju li{
	border: 0px;
}
#shu{
	color: #000;
	font-size: 20px;
}
#wen{
	color: #000;
	font-size: 16px;
}

#slider{
	width: 90%;
	height: 260px;
	margin: auto;
	background: #fff;
}

.cp{
	font-size: 16px;
	color: #000;
	padding-left: 15px;
}

#le img{
	border: 1px solid gray;
}


.mui-table-view:before,.mui-table-view:after,.mui-table-view-cell:after{
	height: 0;
}

.fiv{
	font-size: 16px;
	color: #000;
	padding-left: 15px;
}
#ned{
	width: 180px;
	height: 180px;
	margin: auto;	
	border: 20px solid gray;
	border-radius: 50%;
	padding-top: 35px;
	text-align: center;
}
#ned a{
	font-size: 14px;
	color: #000;
}
